body, html {
    background-color: rgb(0, 0, 0);
    margin: 0;
    font-family: "Lato", sans-serif;
    letter-spacing: 2px;
  }

h1 {
    color: white;
    font-size: 30px; 
    text-align: center;
    font-weight: bold;
}

.zoom {
    cursor: pointer;
    transition-property: all;
    transition-delay: 0.2s;
    transition-timing-function: linear;
}

.zoom:hover {
    transform: scale(2);
}


footer{
    background-color: black;
    height: 40px;
    text-align: center;
    width: 100%;
}

#footertext {
    color: white;
}

.swiper {
    width: 45%;
    height: 40%;
  }
  
.swiper-slide {
    background-position: center;
    background-size: cover;
}
  
.swiper-slide img {
    display: block;
    width: 100%;
}


  